@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;300;500;700&display=swap');
:root {
    --color-primary: #8B48BF;
    --color-primary-trans: rgba(139, 72, 191, 0.3);
    --color-secondary: #3CDDF3;
    --color-tertiary: #1E1E26;
    --color-quaternary: #FAFAFA;
    --color-font-primary: #232C50;
    --color-font-secondary: #B3B2B7;
    --color-font-tertiary: #8C8C94;

    --max-width: 100rem;
}